# these files are ignored by git

src/oxide.egg-info/
env/
.venv/

web_app/node_modules/
web_app/client/node_modules/
web_app/client/.nuxt/


# residual oxide directories and files
!datastore/sample_datasets
__pycache__/
scratch
datasets/*
db/*
localstore/*
.config.txt
.log.txt
.history.txt
.context.save

# Ignore these file extentions
*.o
*.obj
*.a
# *.so
*.pyc
*.pyo
*~
*.swp
.DS_Store
.blot
.replay.sh
*.tmp

# override these in the sample_dataset directory
*.exe
*.dll
*.sys

# editor files:
.idea
.vscode

# pytorch saves
*.pt
api_server/config.ini
