[submodule "capa-rules"]
	path = capa-rules
	url = https://github.com/mandiant/capa-rules
[submodule "modules/extractors_dev/parse_capa/capa-rules"]
	path = modules/extractors_dev/parse_capa/capa-rules
	url = https://github.com/mandiant/capa-rules
